*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: #e7e7e7;
    min-height: 100vh;
    line-height: 1.5;
}


/*Gradient and layer blur effect*/
.image-gradient{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}

.layer-blur{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 15px;
    rotate: -30deg;
    z-index: -1;
}

/*CONTAINER*/
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    overflow: hidden;
}


/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 1rem 5rem;
    z-index: 999;
}

header .logo{
    height: 100px;
    width: auto;
    object-fit: contain;
    border-radius:50%;
    cursor: pointer;

    transition: transform 0.3s ease;
}

header .logo:hover{
    transform: scale(1.05);
}


 header h1{
     height: 50px;
    margin: 0;
    font-size: 4rem;
    font-weight: 600;
    text-decoration:solid;
    /* color: #83ffc1;  */
    color: linear-gradient(to right, #656565, #7f427f, #6600c5,
    #5300a0, #757575, #656565);
 }  


nav{
    display: flex;
    align-items:center ;
    gap: 3rem;
    margin-left: -5%;
}

nav a{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s;
    text-decoration:none;
    color: inherit;
}

nav a.hover{
    color: #e7e7e7;
}

.btn-signing{
    background-color: #e7e7e7;
    color: black;
    padding: 0.8rem 2rem;
    border-radius : 50px; 
    border: none;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
    cursor: pointer;
    z-index: 999;
}  

.btn-signing:hover{
    background-color: rgb(128, 190, 229);
} 





/* 88888888888888888888888 */

/* MAIN CONTENT SECTION */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height:calc(90vh - 6rem);
    
} 

.content{
    max-width: 40rem;
    margin-left: 10%;
    z-index: 99;
}






main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height:calc(90vh - 6rem);
    position: relative;
} 

.content{
    max-width: 45rem;
    margin-left: 8%;
    z-index: 99;
} 
 



.tag-box{
    position: relative;
    width: 18rem;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(to right, #656565, #7f427f, #6600c5,
    #5300a0, #757575, #656565);
    background-size:200% ;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0 15px rgb(222, 143, 143,0.3);
}

@keyframes animationGradient {
    to{
        background-position: 200%;
    }
}

.tag-box .tag{
    position: absolute; 
    inset: 3px 3px 3px 3px ;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    cursor: pointer;
} 

.tag-box .tag:hover{
    color: #5300a0;
}

.content h1{
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin: 2rem 0;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.418);
}


.description{
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    max-width: 35rem;
    color: gray;
}

.buttons{
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}


.btn-get-starter{
    text-decoration: none;
    background-color: aqua;
    border: 1px solid #2a2a2a;
    padding: 0.7rem 1.2rem ;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
    color: rgb(22, 10, 10);
}

.btn-get-starter:hover{
    background-color: #116e67;
}

.btn-signing-main{
    text-decoration: none;
    background-color: lightgray;
    background-color: #83ffc1;
    color: rgb(22, 10, 10);
    
    padding: 0.6rem 2.5rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: background-color 0.2s ease;

}

.btn-signing-main:hover{
    background-color: gray;
}


.robot-3d{
    position: absolute;
    top:0%;
    left: 25%;
}


/* TABLET RESPONSIVE */
 /* @media(max-width: 1300px){
        header{
            padding: 1rem 0.5rem;
        }

        .content{
            margin-top : 85%; ;
        }

        .robot-3d{
            scale: 0.6;
            top: -20%;
            right: 2%;
        }
}  */




/* MOBILE RESPONSIVE */
/* @media (max-width : 768px) {
    header{
        padding: 1rem 0.1rem;
    }

    nav{
        display: none;
    }

    header h1{
        font-size : 2rem;
    }

    .btn-signing{
        padding: 0.6rem 1.5rem;
    }

    .content{
        margin-top: 25rem;
    }

    .robot-3d{
        scale: 1;
        top: -25%;
        right: 0;
    }

    .content{
        max-width: 30rem; ;
        margin-left: 10%;
    }

    .tag-box{
            width: 12rem;
    }

    .content h1{
        font-size: 2.5rem;
    }

    .description{
        font-size: 1rem;
    }

    .btn-get-starter{
        font-size: 0.8rem;
        padding: 0.8rem 1.2rem;
    }

    .btn-signing-main{
        font-size: 0.8rem;
        padding: 0.8rem 2rem;
    }


}  */
